[user]
	name = Markus Vock
	email = markus.vock@hornbach.de
[push]
	default = simple
[branch]
    autosetuprebase = always
[http]
	proxy = http://localhost:3030
	sslVerify = false
[url "https://"]
	insteadOf = git://
[core]
	askpass = /usr/lib/git-core/git-gui--askpass
	editor = /usr/bin/gvim --nofork
[rebase]
	autoSquash = true
